Source: libvmod-varnish4-geoip
Section: net
Priority: optional
Homepage: https://github.com/matthias-mo/libvmod-varnish4-geoip
Maintainer: Matthias Weiss
Build-Depends: debhelper (>= 9),
 autotools-dev,
 dh-autoreconf,
 libtool,
 pkg-config,
 autoconf,
 python-docutils,
 libgeoip-dev,
 libvarnishapi-dev
Standards-Version: 3.9.4

Package: libvmod-varnish4-geoip
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
 dpkg (>= 1.15.6~)
Depends: ${misc:Depends},
 ${shlibs:Depends},
 libgeoip1 (= ${binary:Version}),
 libvarnishapi1 (= ${binary:Version})
Multi-Arch: same
Description: libvmod-varnish4-geoip
