Source: libvmod-varnish4-geoip
Section: net
Priority: optional
Homepage: https://github.com/matthias-mo/libvmod-varnish4-geoip
Maintainer: Matthias Weiss <matthias@more-onion.com>
Build-Depends: debhelper (>= 9),
 autotools-dev,
 dh-autoreconf,
 libtool,
 pkg-config,
 autoconf,
 python-docutils,
 libgeoip-dev,
 libvarnishapi-dev
Standards-Version: 3.9.6

Package: libvmod-varnish4-geoip
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
 dpkg (>= 1.15.6~)
Depends: ${shlibs:Depends}, ${misc:Depends},
Multi-Arch: same
Description: VMOD plugin for varnish 4 to set a HTTP header with the GeoIP country
